<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <p>Mandeep Here</p>
  <form></form>
  <div id="link_href"></div>
  <script>
    var d=<%- idata %>;
    console.log("Length "+d.length);
    for(i=0;i<d.length;i++){
  document.getElementById("link_href").innerHTML+="<a href='"+d[i].links+"' id='link"+(i)+"' download>Link"+(i+1)+"</a>";
  document.getElementById('link'+i).click();
	}
    // console.log("Receiving data "+ JSON.stringify(d[0].links));
    var str=JSON.stringify(d[0].links);
    $(document).ready(function(){

    })
  </script>
</body>
</html>